@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

@keyframes backInDown {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }
    80% {
        opacity: 0.6;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.digital-clock-container {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9BBC8;
    animation: backInDown 2s ease both;
}

.digital-clock {
    font-size: 50px;
    font-family: 'Antic Slab', serif;
    letter-spacing: 6px;
    color: #fff;
    animation: backInDown 2s ease both;
}
